.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.add-img-upload img{
    width: 120px;
    cursor: pointer;
}
.add-product-name, .add-product-descrition{
    width: max(40%, 280px);
    width: 400px;
}
.add-product-name input, .add-product-descrition textarea{
    padding: 10px;
    box-sizing: border-box;
    width: 400px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}